#
# {{ ansible_managed }}
#
# Don't touch.

LoadPlugin interface

{% if with_interfaces is defined %}
<Plugin interface>
{% for iface in with_interfaces %}
	Interface "{{iface}}"
{% endfor %}
	IgnoreSelected false
</Plugin>
{% endif %}
